doctype html
html(lang="en")
  head
    title= otterscan
  body
    h1 Otterscan
    p Otterscan is a platform for providing barcoded scanned exams through LTI.
    p &ldquo;Otters can&hellip; help you!&rdquo;
  footer
    p by Jim Fowler